<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Copyright (c) 2024-present "Nik De Kur"
-->

<!--<Configuration status="warn">-->
<!--    <Appenders>-->
<!--        &lt;!&ndash; Console appender configuration &ndash;&gt;-->
<!--        <Console name="console" target="SYSTEM_OUT">-->
<!--            <PatternLayout>-->
<!--                <pattern>-->
<!--                    %highlight{[%d{HH:mm:ss}] [%p]} - %m%n-->
<!--                </pattern>-->
<!--            </PatternLayout>-->
<!--        </Console>-->

<!--        &lt;!&ndash; RollingFile appender configuration &ndash;&gt;-->
<!--        <RollingFile name="RollingFile" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd-HH-mm-ss}.log">-->
<!--            <PatternLayout pattern="[%d{HH:mm:ss}] [%p] - %m%n" />-->
<!--            <Policies>-->
<!--                <OnStartupTriggeringPolicy />-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20" />-->
<!--        </RollingFile>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        &lt;!&ndash; Root logger referring to console and file appenders &ndash;&gt;-->
<!--        <Root level="info" additivity="false">-->
<!--            <AppenderRef ref="console" />-->
<!--            <AppenderRef ref="RollingFile" />-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->